{% extends 'base.html.twig'%}
{% block title %}Blog System {% endblock %}
{% block body %}
    <h1>Category</h1>
    {% if categories %}
        <table class="table table-striped">

            <thead>
            <tr>
                <th>Category </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td><a href="/categories/{{ category.id }}" class="btn btn-dark">Show</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Categories To Display</p>
    {% endif %}

{% endblock %}