{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% if error %}
    {{ error.messageKey }}
{% endif %}
<form action="{{ path('login') }}" method="post">
<input type="text" name="_username" value="{{ last_username }}">
    <input type="password" name="_password">
    <input type="submit">
</form>
{% endblock %}
