{% extends 'base.html.twig'%}
{% block title %}Blog System {% endblock %}
{% block body %}
<h1>Articles</h1>
    {% if articles %}
<table class="table table-striped">

    <thead>
    <tr>
        <th>Article Title</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
<tr>
<td>{{ article.title }}</td>
    <td><a href="/articles/{{ article.id }}" class="btn btn-dark">Show</a></td>
        {% if article.is_published==0 %}
    <td><a href="/articles/{{ article.id }}/publish" class="btn btn-dark">Publish</a>
        {% else %}
    <td><a href="/articles/{{ article.id }}/unpublish" class="btn btn-dark">UnPublish</a>
        {% endif %}
</tr>
    {% endfor %}
    </tbody>
</table>
    {% else %}
<p>No Articles To Display</p>
    {% endif %}

{% endblock %}