
{% block title %}Blog System {% endblock %}
{% block body %}
<h1>Articles</h1>
    <form>
        <select name="category_id">
        {% for category in categories %}
            {% if category_id==category.id %}
            <option value="{{ category.id }}" selected>{{ category.name }}</option>
                {% else %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="search">
    </form>
    {% if articles %}

        {% for article in articles %}
           {{ article.body }} <br>

            {% for comment in article.comments %}
             {{ comment.user.username }} :    {{ comment.comment }} <br>
                {% endfor %}
            <form action="{{ path('add_comment') }}" method="post">
                <input type="hidden" name="article_id" value="{{ article.id }}">
                <input type="text" name="comment">
                <input type="submit" value="comment">
            </form> <br>
        {% endfor %}
    {% else %}
<p>No Articles To Display</p>
    {% endif %}

{% endblock %}