{% extends 'base.html.twig'%}
{% block title %} {{ article.title }} {% endblock %}
{% block body %}

    <h1>{{ article.title }}</h1>

    <p>{{ article.body }}</p>
<a href="/">Back</a>
{% endblock %}