<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
<div class="container">
    <a href="/" class="navbar-brand"> Blog</a>
<button class="navbar-toggler" type="button" data-toggel="collapse" data-target="#mobile-nav">
<span class="navbar-toggel-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="mobile-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
                <a href="/articles/create" class="nav-link">New Article</a>
            </li>

            <li class="nav-item">
                <a href="/categories/create" class="nav-link">New category</a>
            </li>

        </ul>
    </div>
</div>
</nav>



